[submodule "lib/FlexCAN_T4"]
	path = lib/FlexCAN_T4
	url = git@github.com:NJL7502L/FlexCAN_T4.git
[submodule "lib/FlexCAN_T4_manager"]
	path = lib/FlexCAN_T4_manager
	url = git@github.com:NJL7502L/FlexCAN_T4_manager.git
[submodule "lib/AliExpressIMU_manager"]
	path = lib/AliExpressIMU_manager
	url = git@github.com:NJL7502L/AliExpressIMU_manager.git
[submodule "lib/GyemsRMD_manager"]
	path = lib/GyemsRMD_manager
	url = git@github.com:NJL7502L/GyemsRMD_manager.git
